<main class="container">
  <div class="d-flex mt-3">
    <h3>Total calories: {{ getCalories() }} kcal</h3>
    <a class="btn btn-success ml-auto"  [routerLink]="['meals/new']">Add new meal</a>
  </div>

  <div *ngIf="!isFetching; else loading">
    <hr/>
    <app-meal-details
      *ngFor="let meal of meals"
      [meal]="meal"
    ></app-meal-details>
  </div>

  <ng-template #loading>
      <span class="spinner-border">
        <span class="sr-only">Loading...</span>
      </span>
  </ng-template>
  <router-outlet></router-outlet>
</main>
