<div class="container">
  <div class="row mt-2">
    <div class="col">
      <h4>{{ isEdit ? 'Edit dish' : 'Add new meal' }}</h4>

      <form (ngSubmit)="saveMeal()" #f="ngForm">
        <div class="form-group">
          <label for="mealTime">Выберите время</label>
          <select class="form-control" id="mealTime"  name="mealTime" ngModel>
            <option value="Breakfast" [selected] >Breakfast</option>
            <option value="Snack">Snack</option>
            <option value="Lunch">Lunch</option>
            <option value="Dinner">Dinner</option>
          </select>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            name="description"
            id="description"
            class="form-control"
            ngModel
          ></textarea>
        </div>
        <div class="form-group">
          <label for="mealCalorie">Calories kcal</label>
          <input
            type="number"
            name="mealCalorie"
            id="mealCalorie"
            class="form-control"
            ngModel
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="isUploading"
        >
          <span *ngIf="!isUploading">
            {{ isEdit ? 'Edit' : 'Create' }}
          </span>
          <span *ngIf="isUploading" class="spinner-border spinner-border-sm">
            <span class="sr-only">Loading...</span>
          </span>
        </button>
      </form>
    </div>
  </div>
</div>
