<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Calorie tracker</a>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
