<div class="border border-dark m-5 p-3 d-flex" *ngIf="meal">
  <div style="width: 60%">
    <h4>{{ meal.mealTime }}</h4>
    <p>{{ meal.description }}</p>
  </div>
  <div>
    <p><strong>{{ meal.calorie }} kcal</strong></p>
  </div>
  <div class="ml-auto">
    <div class="mb-3">
      <a class="btn btn-info" [routerLink]="['meals', meal.id, 'edit']">Edit</a>
    </div>
    <div>
      <button
        class="btn btn-danger"
        (click)="onRemove()"
        [disabled]="isRemoving"
      >
        <span *ngIf="!isRemoving">
        Delete
      </span>
        <span *ngIf="isRemoving" class="spinner-border spinner-border-sm">
        <span class="sr-only">Removing...</span>
      </span>
      </button>
    </div>
  </div>
</div>
